# Copy to .env and set values assigned to this server. Empty values are rejected.
VOIDSTATION_LAN_BIND_ADDRESS=
VOIDSTATION_LAN_PORT=
VOIDSTATION_TAILSCALE_BIND_ADDRESS=
VOIDSTATION_TAILSCALE_PORT=
VOIDSTATION_ROOT_FILESYSTEM_PATH=
VOIDSTATION_DATA_FILESYSTEM_PATH=
VOIDSTATION_DATA_FILESYSTEM_UUID=
